<header>
    <div class="header__um">
        <div class="logosubmenu">
            <div class="logo">
                <img src="../../../assets/img/logo.png" alt="">
            </div>
            <nav class="minili">
                <ul>
                    <li>acessibilidade </li>
                    <li>suporte </li>
                    <li>sobre nos</li>
                </ul>
            </nav>
        </div>
    </div>
    <hr>
    <div class="header__dois">
        <app-search></app-search>
        <nav class="minilid">
            <ul>
                <li>Conta </li>

                <li>Carrinho </li>
                <li>Ofertas e Promoções</li>
            </ul>
        </nav>
    </div>
    <hr>
</header>