

<app-header></app-header>
<app-carrossel-lateral></app-carrossel-lateral>

<app-footer [item]="[[
'Conheça-nos',
'Sobre',
'Informações corporativas',
'Carreiras',
'Comunicados à imprensa',
'Comunidade',
'Acessibilidade',
],[
    'Pagamento',
    'Meios de Pagamento',
    'Compre com Pontos',
   ' Cartão de Crédito'
],[
    'Deixe-nos ajudar você',
    'Sua conta',
    'Frete e prazo de entrega',
    'Devoluções e reembolsos',
    'Gerencie seu conteúdo e dispositivos',
    'Ajuda'
]]"></app-footer>